:root {
    --font-color: #626060;
    --background-color: #E7E9DE;
    --navbar-background: #DADBC0;
    --border-color: #928B8B;
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    text-align: center;
    background: #E7E9DE;
    color: #626060;
    padding: 1rem;
    box-sizing: border-box;
}

.intro {
    position: relative;
    top: 300px;
}
.intro p{
    top: 50px;
    left: 524.25px;
    position: absolute;
    visibility: hidden;
    animation-name: welcome;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 3.5s;
}
.intro::before {
    content:"HELLO";
    position: absolute;
    visibility: hidden;
    top: 50px;
    left: 852px;
    animation-name: welcome;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}
.intro::after {
    position: absolute;
    content: "ENJOY YOUR VISIT";
    visibility: hidden;
    top: 50px;
    left: 676.673px;
    animation-name: welcome;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 7s;
}
.navbar {
    position: fixed;
    background-color: var(--navbar-background);
    top: -3px;
    left: -3px;
    width: 14rem;
    height: 100%;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 2rem;
    line-height: 2;
    animation-name: hello1;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
}
.navbar li {
    position: relative;
    top: 220px;
    border: 2px solid #928B8B;
    color: #626060;
    list-style: none;
    border-radius: 75px;
    margin-top: 1rem;
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.navbar li a {
    color: #626060;
    text-decoration: none;
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.navbar li a:hover {
    color: #E7E9DE;
}
.navbar li:hover {
    transform: translateX(20px);
    background: #626060;
    color: #E7E9DE;
    /* cursor: pointer; */
}

@keyframes welcome {
    0% {
        top: 250px;
        opacity: 0%;
    }
    50% {
        visibility: visible;
        top: 50px;
        opacity: 100%;
    }
    75% {
        top: 50px;
        opacity: 100%;
    }
    100% {
        top: -250px;
        opacity: 0%;
    }
}
@keyframes hello1 {
    0% {
        left: -300px;
    }
    10% {
        left: -300px;
    }
    20% {
        left: -300px;
    }
    30% {
        left: -300px;
    }
    40% {
        left: -300px;
    }
    50% {
        left: -300px;
    }
    60% {
        left: -300px;
    }
    70% {
        left: -300px;
    }
    80% {
        left: -300px;
    }
    90% {
        left: -300px;
    }
    100% {
        left: 0px;
    }
}
@keyframes hello2 {
    0% {
        top: 900px;
    }
    10% {
        top: 900px;
    }
    20% {
        top: 900px;
    }
    30% {
        top: 900px;
    }
    40% {
        top: 900px;
    }
    50% {
        top: 900px;
    }
    60% {
        top: 900px;
    }
    70% {
        top: 900px;
    }
    80% {
        top: 900px;
    }
    90% {
        top: 900px;
    }
    100% {
        top: 832px;
    }
}

.aboutme {
    height: 100vh;

}
.about1 {
    position: relative;
}

.about1 h1 {
    position: absolute;
    left: 284px;
    top: 525px;
    animation-name: name-enter1;
    animation-duration: 12s;
}
.about1 h2 {
    position: absolute;
    font-size: 4rem;
    text-decoration: underline;
    left: 684px;
    top: 100px;
    animation-name: name-enter2;
    animation-duration: 12s;
}
.about2 .img {
    position: absolute;
    top: 120px;
    left: 300px;
    border: darkgray;
    height: 430px;
    width: 361px;
    background-image: url(../IMG/Adam.jpg);
    background-position: center;
    animation-name: img-enter1;
    animation-duration: 12s;
}
.about2 h3 {
    font-size: 2rem;
    position: absolute;
    text-align: left;
    left: 50px;
    top: 1500px;
}
.about2 p {
    position: absolute;
    left: 700px;
    top: 210px;
    font-size: 2rem;
    text-align: left;
    width: 1000px;
    height: 360px;
    animation-name: name-enter3;
    animation-duration: 12s;
}

@keyframes name-enter1 {
    0% {
        opacity: 0%;
        top: -200px;
    }
    10% {
        opacity: 0%;
        top: -200px;
    }
    20% {
        opacity: 0%;
        top: -200px;
    }
    30% {
        opacity: 0%;
        top: -200px;
    }
    40% {
        opacity: 0%;
        top: -200px;
    }
    50% {
        opacity: 0%;
        top: -200px;
    }
    60% {
        opacity: 0%;
        top: -200px;
    }
    70% {
        opacity: 0%;
        top: -200px;
    }
    80% {
        opacity: 0%;
        top: -200px;
    }
    90% {
        opacity: 0%;
        top: -200px;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes name-enter2 {
    0% {
        opacity: 0%;
        top: 100px;
    }
    10% {
        opacity: 0%;
        top: 100px;
    }
    20% {
        opacity: 0%;
        top: 100px;
    }
    30% {
        opacity: 0%;
        top: 100px;
    }
    40% {
        opacity: 0%;
        top: 100px;
    }
    50% {
        opacity: 0%;
        top: 100px;
    }
    60% {
        opacity: 0%;
        top: 100px;
    }
    70% {
        opacity: 0%;
        top: 100px;
    }
    80% {
        opacity: 0%;
        top: 100px;
    }
    90% {
        opacity: 0%;
        top: 100px;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes name-enter3 {
    0% {
        opacity: 0%;
    }
    10% {
        opacity: 0%;
    }
    20% {
        opacity: 0%;
    }
    30% {
        opacity: 0%;
    }
    40% {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    60% {
        opacity: 0%;
    }
    70% {
        opacity: 0%;
    }
    80% {
        opacity: 0%;
    }
    90% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes img-enter1 {
    0% {
        opacity: 0%;
    }
    10% {
        opacity: 0%;
    }
    20% {
        opacity: 0%;
    }
    30% {
        opacity: 0%;
    }
    40% {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    60% {
        opacity: 0%;
    }
    70% {
        opacity: 0%;
    }
    80% {
        opacity: 0%;
    }
    90% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.education {
    height: 100vh;
    position: relative;
    margin-left: 284px;
}
.education h2 {
    text-align: left;
    width: 500px;
    font-size: 4rem;
    text-decoration: underline;
}
.education p {
    font-size: 2rem;
    text-align: left;
    width: 800px;
    height: 360px;
}
.education .vid1 {
    position: absolute;
    left: 1000px;
    bottom: 470px;
}
.education .vid2 {
    position: absolute;
    left: 1000px;
    bottom: 130px;
}

.gaming {
    height: 100vh;
    position: relative;
    margin-left: 284px;
}
.gaming h2 {
    text-align: left;
    width: 500px;
    font-size: 4rem;
    text-decoration: underline;
}
.gaming p {
    font-size: 2rem;
    text-align: left;
    width: 800px;
    height: 310px;
}
.gaming .games {
    position: relative;
    margin-left: 290px;
    list-style: none;
}
.ed {
    position: absolute;
    top: 100px;
    left: 20px;
}
.fact {
    position: absolute;
    top: 100px;
    left: 260px;
}
.de {
    position: absolute;
    top: 100px;
    left: 499px;
}
.vcd {
    position: absolute;
    top: 100px;
    left: 738px;
}
.gaming .games li {
    text-decoration: none;
    font-size: 2rem;

}
.gaming .games li img {
    width: 200px;
    height: 300px;
    
}
.gaming .links {
    position: absolute;
    top: 230px;
    left: 100px;
}
.gaming .links li {
    display: inline;
    text-decoration: none;
    font-size: 2rem;
    color: #626060;
}
.gaming .links li a {
    color: #626060;
}
.contact-me {
    height: 100vh;
    position: relative;
    margin-left: 284px;
}
.contact-me h2 {
    text-align: left;
    width: 500px;
    font-size: 4rem;
    text-decoration: underline;
}
.contact-me p {
    font-size: 2rem;
    text-align: left;
    width: 800px;
    height: 360px;
}
.contact-me form {
    position: absolute;
    display: block;
    top: 225px;

}
.contact-me input {
    border: 2px solid #928B8B;
    color: #626060;
    display: block;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    padding: 15px 0px;
}
.contact-me textarea {
    display: block;
    border: 2px solid #928B8B;
    color: #626060;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;

}
.contact-me .name {
    margin-bottom: 20px;
    padding-left: 15px;
    border-radius: 75px;
    border: 2px solid #928B8B;
    color: #626060;
}
.contact-me .email {
    margin-bottom: 20px;
    padding-left: 15px;
    border-radius: 75px;
    border: 2px solid #928B8B;
    color: #626060;
}
.contact-me .text {
    margin-bottom: 20px;
    padding-left: 22px;
    padding-top: 22px;
    border-radius: 75px;
    border: 2px solid #928B8B;
    color: #626060;
}
.contact-me .submit {
    position: absolute;
    border-radius: 75px;
    border: 2px solid #928B8B;
    padding: 0px 15px;
    left: 125px;
    top: 430px;
    cursor: pointer;
}

footer {
    background-color: var(--navbar-background);
    width: 100%;
    height: 65px;
    position: fixed;
    left: -3px;
    top: 832px;
    animation-name: hello2;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
}
footer ul {
    color: #626060;
}
footer ul li {
    font-size: 2rem;
    list-style: none;
    display: inline;
    color: #626060;
}
footer ul li a {
    color: #626060;
    position: relative;
    top: -53px;
}