* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    text-align: center;
    background: lightgrey;
    padding: 1rem;
    box-sizing: border-box;
}

.intro {
    position: relative;
    top: 300px;
}
.intro p{
    top: 50px;
    left: 524.25px;
    position: absolute;
    visibility: hidden;
    animation-name: hello1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 3.5s;
}
.intro::before {
    content:"HELLO";
    position: absolute;
    visibility: hidden;
    top: 50px;
    left: 852px;
    animation-name: hello1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}
.intro::after {
    position: absolute;
    content: "ENJOY YOUR VISIT";
    visibility: hidden;
    top: 50px;
    left: 676.673px;
    animation-name: hello1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 7s;
}
.navbar {
    position: relative;
    top: 75px;
    width: 14rem;
    font-size: 2rem;
    line-height: 2;
    animation-name: hello2;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
}
.navbar li {
    border: 2px solid darkgray;
    padding: 0 15px;
    list-style: none;
    border-radius: 75px;
    margin-top: 1rem;
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.navbar li a{
    text-decoration: none;
    color: rgb(54, 54, 54);
}
.navbar li:hover {
    transform: translateX(20px);
    background: darkgray;
    cursor: pointer;
    
}
@keyframes hello1 {
    0% {
        top: 250px;
        opacity: 0%;
    }
    50% {
        visibility: visible;
        top: 50px;
        opacity: 100%;
    }
    75% {
        top: 50px;
        opacity: 100%;
    }
    100% {
        top: -250px;
        opacity: 0%;
    }
}
@keyframes hello2 {
    0% {
        left: -250px;
    }
    10% {
        left: -250px;
    }
    20% {
        left: -250px;
    }
    30% {
        left: -250px;
    }
    40% {
        left: -250px;
    }
    50% {
        left: -250px;
    }
    60% {
        left: -250px;
    }
    70% {
        left: -250px;
    }
    80% {
        left: -250px;
    }
    90% {
        left: -250px;
    }
    100% {
        left: 0px;
    }
}
.navbarhome {
    position: relative;
    top: 75px;
    width: 14rem;
    font-size: 2rem;
    line-height: 2;
    animation-name: hello3;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}
.navbarhome li {
    border: 2px solid darkgray;
    padding: 0 15px;
    list-style: none;
    border-radius: 75px;
    margin-top: 1rem;
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.navbarhome li a{
    text-decoration: none;
    color: rgb(54, 54, 54);
}
.navbarhome li:hover {
    transform: translateX(20px);
    background: darkgray;
    cursor: pointer;
    
}
@keyframes hello3 {
    0% {
        left: -280px;
    }
    100% {
        left: 0px;
    }
}

.about1 {
    position: relative;
    /* text-align: right; */
}
/* .navbarabout {
    position: relative;
    top: 75px;
    width: 14rem;
    font-size: 2rem;
    background-color: rgb(54, 54, 54);
    line-height: 2;
    animation-name: hello3;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}
.navbarabout li {
    background-color: lightgrey;
    border: 2px solid darkgray;
    padding: 0 15px;
    list-style: none;
    border-radius: 75px;
    margin-top: 1rem;
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.navbarabout li a{
    text-decoration: none;
    color: rgb(54, 54, 54);
}
.navbarabout li:hover {
    transform: translateX(20px);
    background: darkgray;
    cursor: pointer;
    
}
@keyframes hello3 {
    0% {
        left: -280px;
    }
    100% {
        left: 0px;
    }
} */
.main-img {
    position: absolute;
    background-image: url(../IMG/DSC_0711.JPG);
    top: -1rem;
    left: -1rem;
    height: 69vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: main-img;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
.about1 h1 {
    position: absolute;
    left: 100px;
    top: 580px;
    animation-name: name-enter1;
    animation-duration: 2s;
}
.about1 h2 {
    position: absolute;
    font-size: 3rem;
    left: 700px;
    top: 800px;
    animation-name: name-enter2;
    animation-duration: 2s;
}
.about2 .img {
    position: absolute;
    top: 1000px;
    border: darkgray;
    height: 430px;
    width: 361px;
    background-image: url(../IMG/Adam.jpg);
    background-position: center;
}
.about2 h3 {
    font-size: 2rem;
    position: absolute;
    text-align: left;
    left: 50px;
    top: 1500px;
}
.about2 p {
    position: absolute;
    left: 400px;
    top: 1050px;
    font-size: 1.5rem;
    text-align: left;
    width: 1000px;
    height: 360px;
}

@keyframes name-enter1 {
    from {
        opacity: 0%;
        top: -200px;
    }
}

@keyframes name-enter2 {
    from {
        opacity: 0%;
        left: -200px;
    }
}

@keyframes main-img {
    from {
        top: -60vh;
        opacity: 0%;
    }
}